<div class="posts margin-bottom-40">
  <div class="headline headline-md"><h2>Recent Videos</h2></div>
  <% @recent_videos.each do |video| %>
  <dl class="dl-horizontal">
    <dt><%= link_to(image_tag(video.cover_photo.photo_url(:thumb)), video_url(video)) if video.cover_photo.present? -%></dt>
    <dd>
      <p><%= link_to(video.title, video_url(video)) -%></p>
    </dd>
  </dl>
  <% end %>
</div>
