   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Harshvardhan Parihar</h1>
            <h3>I am a Bangalore based aspiring <span>Film Maker</span>, <span>Screen Writer</span> and <span>Film Editor</span> creating awesome and
            effective videos of all genre. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <%= image_tag("harsh.jpg", class: "profile-pic") -%>

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>
              I am Harshvardhan Parihar, a Film Maker who writes screen play, shoot and edit the videos. <br>
              I like to make films. I have a desire to tell stories.
              I like to write for comedy shows, inspirational stories, etc.
              <br><br> 
              Movies and Videos touch our hearts and awaken our vision, and change the way we see things. 
              They take us to other places, they open doors and minds. 
              Movies are the memories of our lifetime, we need to keep them alive.
              I think of it as a great opportunity to comment on the world in which we live.
            </p>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->



   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="copyright">
               <li>&copy; Copyright 2014 Harshvardhan Parihar</li>
               <li>Design by <a title="Styleshout" href="http://harshvardhanparihar.com/">Harshvardhan Parihar</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

