    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2014 &copy; Shaadi milaap Pvt. Ltd.. ALL Rights Reserved.
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <a href="index.html">
                        <!-- <img class="pull-right" id="logo-footer" src="assets/logo/Original_512.png" alt="" height="40"> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
