<a href="#" onclick="javascript:popup('https://www.facebook.com/sharer.php?u=<%= request.original_url -%>')" style="background-image: none;" class="btn btn-primary btn-lg" title="Click to share on Facebook"><i class="fa fa-facebook "></i> Share</a>

<a href="https://twitter.com/intent/tweet?original_referer=<%= request.original_url -%>&url=<%= request.original_url %>&text=&tw_p=tweetbutton" target="_blank" style="background-image: none;"class="btn btn-info btn-lg" title="Click to share on Twitter"><i class="fa fa-twitter"></i> Tweet </a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<script>
  function popup(url) {
    var winWidth = 520;
    var winHeight = 520;
    var winTop = (screen.height / 2) - (winHeight / 2);
    var winLeft = (screen.width / 2) - (winWidth / 2);
    window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
  }
</script>
